name: Zenodo all the things!
# This workflow is triggered on pushes to the repository.
on: [push]
jobs:
  generate_code_meta:
    name: Make a codemeta.json file
    runs-on: ubuntu-latest
    steps:
      # Grab the latest GitHub actions
      - uses: actions/checkout@master
      # Use a Ruby environment https://github.com/actions/setup-ruby
      - uses: actions/setup-ruby@v1
      # This step prints an output (time) from the previous step's action.
      - name: run generate.rb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install specific_install
          gem specific_install https://github.com/datacite/bolognese.git
          gem install octokit
          ruby .github/workflows/generate.rb
