name: Zenodo all the things!
# This workflow is triggered on pushes to the repository.
on:
  release:
    # Only use the types keyword to narrow down the activity types that will trigger your workflow.
    types: [published]
  push
jobs:
  generate_code_meta:
    name: Make a codemeta.json file
    runs-on: ubuntu-latest
  steps:
    # Grab the latest GitHub actions
    - uses: actions/checkout@master
    # Use a Ruby environment https://github.com/actions/setup-ruby
    - uses: actions/setup-ruby@v1
    # This step prints an output (time) from the previous step's action.
    - name: Attempt to generate
      run: ruby generate.rb
  deposit:
    name: Deposit with Zenodo
    runs-on: ubuntu-latest
    steps:
      # Grab the latest GitHub actions
      - uses: actions/checkout@master
      # Use a Ruby environment https://github.com/actions/setup-ruby
      - uses: actions/setup-ruby@v1
      - name: Deposit...
        run: ruby deposit.rb
