name: Zenodo all the things!
# This workflow is triggered on pushes to the repository.
on: [push]
jobs:
  generate_code_meta:
    name: Make a codemeta.json file
    runs-on: ubuntu-latest
    steps:
      # Grab the latest GitHub actions
      - uses: actions/checkout@master
      # Use a Ruby environment https://github.com/actions/setup-ruby
      - uses: actions/setup-ruby@v1
      # This step prints an output (time) from the previous step's action.
      - name: run generate.rb
        run: |
          gem install bolognese
          ruby .github/workflows/generate.rb
  open_pull_request:
    needs: generate_code_meta
    name: Open a pull request with the new codemeta.json file
    runs-on: ubuntu-latest
    steps:
      # Grab the latest GitHub actions
      - uses: actions/checkout@master
      # Use a Ruby environment https://github.com/actions/setup-ruby
      - uses: actions/setup-ruby@v1
      - name: run open_pull_request.rb
        run: |
          gem install octokit
          ruby .github/workflows/open_pull_request.rb
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
